body {
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: auto;
}

.header, .pongContainer, .scoreboard {
  margin: 15px auto;
}


h2 {
  display: block;
  padding: 0px 10px;
  background-color: gainsboro;
  width: 40%;
  text-align: center;
}

.scoreboard {
  display: flex;
  margin: auto;
  width: 100%;
  background-color: antiquewhite;
  justify-content: space-between;
}

#canvas {
  background: orange;
  padding: 0;
  margin: 0, auto;
  display: block;
}